mixin link(props = {})

  - const { text, href = '#', tag = "a" } = props;

  if tag === 'a'
    #{tag}(href=href).link&attributes(attributes)
      span.link__text= text
  else
    #{tag}.link&attributes(attributes)
      span.link__text= text
